<!----<div id="g_id_onload"
     data-client_id="720602478969-vu2uvuotc4jebfevan9kl52ucuksghf3.apps.googleusercontent.com"
     
     
     data-login_uri="http://localhost:4200/dashboard">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="medium"
     >
</div>-->
<div class="login-box">
     <form>
       <h1><b>Login Form</b></h1>   
       <div class="form-group">
         <label for="email">Email</label>
         <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" />
       </div>
   
       <div class="form-group">
         <button type="submit" class="btn btn-primary">Login</button>
       </div>
     </form>
       
          <div class="or-option">-------------------Or--------------------</div>
       

       <div class="social-login">
        <div id="g_id_onload"
        data-client_id="720602478969-vu2uvuotc4jebfevan9kl52ucuksghf3.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="https://www.heroku.com/"
        data-auto_select="true"
        data-itp_support="true">
   </div>
   
   <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
   </div>

          
          
          
          </div>
     
</div>
   